:root{
    --bg: #FDF6F3;
    --card: #FFFFFF;
    --soft: #FFF1EB;
    --allarm: #FF7A45;
    --allarm-hover: #FF6A2E;
    --allarm-stop: hsl(17, 50%, 60%);
    --allarm-hover-stop: hsl(17, 50%, 50%);
    --border: #F3D2C6;
    --text-light: #7A7A7A;
    --tab-hover: #FFE4D9;

    --text-status: #474747;
    --allarm-on: #8EDF2A;
    --allarm-off: #D33643;
    --allarm-off-text: #751A21;
}
.dark {
  --bg: #1E1E1E;
  --card: #2A2A2A;
  --soft: #333333;
  --border: #3A3A3A;
  --allarm-stop: hsl(17, 30%, 40%);
  --allarm-hover-stop: hsl(17, 40%, 40%);
  --text: #F5F5F5;
  --text-light: #B0B0B0;
  --tab-hover: #282525;

  --text-status: #dce6eb;
  --allarm-off: #C53030;
  --allarm-off-text: rgb(170, 38, 49)
}

*:not(.butt) {
  transition: background-color 0.3s ease, 
              border-color 0.3s ease,
              color 0.3s ease;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.dark .inevert{
  filter: invert(1)
}