:root{
    --bg: #FDF6F3;
    --card: #FFFFFF;
    --soft: #FFF1EB;
    --allarm: #FF7A45;
    --allarm-hover: #FF6A2E;
    --border: #F3D2C6;
    --text-light: #7A7A7A;
    --tab-hover: #FFE4D9;

    --allarm-on: #8EDF2A;
    --allarm-off: #D33643;
    --allarm-on-text: #37590D;
    --allarm-off-text: #751A21;
}
.dark {
  --bg: #1E1E1E;
  --card: #2A2A2A;
  --soft: #333333;
  --allarm: #FF7A45;
  --allarm-hover: #FF6A2E;
  --border: #3A3A3A;
  --text: #F5F5F5;
  --text-light: #B0B0B0;
  --tab-hover: #282525;

  --allarm-on: #6FCF1F;
  --allarm-off: #C53030;
  --allarm-on-text: #E9FFD5;
  --allarm-off-text: #FFD6D6;
}
*:not(.butt) {
  transition: background-color 0.3s ease, 
              border-color 0.3s ease,
              color 0.3s ease;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}